extends layout_drjart

mixin navbar
  .header.mobile(style='width: 1240px; left: 50%; margin-left: -647px;')
    .wrapper
      .info_header
        .wrapper
          ul(style='margin-left: 0px; left: 0px;')
            li
              div.dib(style='vertical-align: middle; height: 22px; width:12px;')
                .icon.icon_location_pin(style="font-size: 20px;left: 0;top: -1px;")
              |  INDONESIA
      .links_header
        .wrapper
          ul
            li
              a.goto_company_btn(href='http://instagram.com/benscrub') #BEAUTYISOURS
            li
              a.goto_dermatologists_btn(href='http://instagram.com/benscrub') OUR HAPPY CUSTOMERS
            li
              a.icon.icon_instagram(href='http://instagram.com/benscrub', target='_blank', style="width: 20px; height: 20px; top: 0; font-size: 20px; position:relative; margin-left:10px;")
              a.icon.icon_facebook(href='https://www.facebook.com/benscrub', target='_blank', style="width: 15px; height: 20px; top: 0; font-size: 20px; position:relative; margin-left:10px; margin-right:-10px;")
      hr
      .now_link
        a(href='/')
          | IN STOCK
      .logo_wrapper
        a.logo_btn(href='/')
          img(alt='Benscrub', src='/static/images/benlogo@2x.png')
      .products_link
        a(href='http://store.benscrub.com/products/all')
          | STORE&nbsp;         
          img(alt='Product_link', src='/static/images/product_go_to.png', style='vertical-align: middle; margin-top: -3px; height: 14px;')
  script.
      (function(){
      $(window).smartresize(resize_call).smartresize();
      function resize_call(){
        var width = $(".info_header ul").width();
        $(".info_header ul").css({'margin-left': 0, 'left': ($(".info_header").width() / 2 - width / 2) + 'px'});
        $(".header.mobile").width($(window).width() - 40);
      }
      })();

mixin carousel_item(z_text, z_cta_text, z_url, z_image, z_color)
    - z_color = z_color || 'white' //default params
    .wrapper.slidesjs-slide
      img(src=z_image)
      .carousel_text
        span(style='font-size:14pt')
          =z_text
        br
        span(style='font-size:12px;')
          a(href=z_url, target='blank')
            font(color=z_color)=z_cta_text

mixin carousel
  .size_3x2.carousel.article.product.isotope-item(data-auto-slide='true', data-duration='3000')
    if block
      block

mixin article1x1_black(z_text, z_url)
  .article.size_1x1.isotope-item
    div(style="width:100%;height:100%;background-color:black")
      div(style="color:white;padding:15px;line-height:160%; font-size:13px;")
        p
          =z_text
          br
          br
          | Read on how our brand has been expanding.
          br
          br
          a.goto_company_btn(href=z_url, style='color:#fff')
            span(style='font-size:12pt')
            span(style='border-bottom:2px; solid:#fff; font-size:12px')
              font(color='#999') → SEE OUR STORY

mixin article1x1_tweet(z_text, z_url, z_tweet_url)
  .article.size_1x1.isotope-item
    .article_tweet
      .date 0419
      a(href=z_tweet_url, target='_blank')
        .icon.tile-icon.icon_create-symbol(style="font-size: 28px;-ms-transform:rotate(200deg);-moz-transform:rotate(200deg);-webkit-transform:rotate(200deg);-o-transform:rotate(200deg);")
      .twitter-text
        =z_text
      .CB

mixin article2x2_instagram(z_url, z_image, z_instagram_url)
  .article.size_2x2.isotope-item
    .article_instagraam(data-inited='true')
      a.link(href=z_instagram_url, target='_blank')
        //- .icon.instagram2
        .icon.tile-icon2.icon_instagram
      .date 0419
      .instagram_photo
        a(href=z_url)
          img(src=z_image)

// input 1x1 2x2 2x3 etc
mixin article_placeholder(z_size)
  .article.isotope-item(class='size_'+z_size)

mixin product(z_size, z_url, z_image)
  .article.isotope-item(class='size_'+z_size)
    a(href=z_url)
      img(src=z_image)
    span(style='display:none') water-fuse bb cream

mixin article3x2_video(z_video, z_video_image_still)
  .article.size_3x2.isotope-item(data-inited='true')
    div(style='background-color:black;width:100%;height:100%')
      a.fancybox-embed(href=z_video)
        img(width='100%', height='100%', src=z_video_image_still)


block appcontent
  .right_loader
  .wrapper
    +navbar
    .content.isotope
      +carousel      
        +carousel_item('', ' → SEE HOW TO', 'http://www.benscrub.com/products/category/frank-body', 'http://i.imgur.com/TfXkoD9.jpg', 'black')
        +carousel_item('', ' → SEE HAPPY CUSTOMERS', 'http://instagram.com/benscrub', 'http://i.imgur.com/kM0efjT.jpg', 'black')
        +carousel_item('', ' → MAKE. BELIEVE.', 'http://instagram.com/benscrub', 'http://i.imgur.com/cQfRujc.jpg', 'black')
      +article1x1_black('Benscrub is now available in Indonesia, have ready stocks and ships islandwide.', 'http://instagram.com/benscrub')
      +article1x1_tweet('We`re Benscrub, a girl-powered company on a mission to rethink beauty by selling a line of essential that celebrate realness rather than cover it up', '#', 'http://instagram.com/benscrub')
      +article_placeholder('1x1')
      +article2x2_instagram('http://store.benscrub.com/products/hello-hair-hydrating-mask-island-special-edition', 'http://i.imgur.com/vohpwf1.jpg', 'http://instagram.com/benscrub')
      +article1x1_tweet('By May 2014, more than 2,000+ products have been shipped without a single failure. REAL Happy Customers.', '#', 'http://instagram.com/benscrub')
      //- +article1x1_tweet('Had too much fun last night with frank. Frank is coffee scrub targeting dry skin, cellulite, acne, eczema and more.', '#', 'http://instagram.com/benscrub')
      +carousel
        +carousel_item('Hair Hair Hair', ' → OHHELLOHAIR 2015 COLLECTION', 'http://store.benscrub.com/products/category/hello-hair', 'http://i.imgur.com/Xq94BxR.jpg')
        +carousel_item('Hair Hair Hair', ' → OHHELLOHAIR 2015 COLLECTION', 'http://store.benscrub.com/products/category/hello-hair', 'http://i.imgur.com/ejewVtW.jpg')
        +carousel_item('Hair Hair Hair', ' → OHHELLOHAIR 2015 COLLECTION', 'http://store.benscrub.com/products/category/hello-hair', 'http://i.imgur.com/6Wp2pgB.jpg')
      .article.size_1x2.isotope-item(style='position: absolute; left: 0px; top: 0px; transform: translate3d(763px, 753px, 0px);')
        .mailinglist(style="background: rgb(123, 0, 81);")
          .icon(style='top:25px; left:25px')
            img(src='/static/images/mailinglist_icon.png')
          .text(style="right: 20px;")
            p
              | Sign up for news, sale notices and 
              span(style='border-bottom:2px solid; color:#fff')  exclusive offers
              |  from Benscrub
          .mail_form
            form#mailinglist_form_now
              div
                input.email_text(type='text', name='mailinglist[email]', placeholder='Enter Email Address')
              .form-actions
                input.mailinglist_btn(type='submit', value='CONFIRM')
      +article_placeholder('1x1')
      +product('1x2', 'http://store.benscrub.com/products/hello-hair-hydrating-mask-island-special-edition', 'http://i.imgur.com/y5UiIXJ.jpg')
      +article2x2_instagram('http://store.benscrub.com/products/hello-hair-hydrating-mask-island-special-edition', 'http://i.imgur.com/aLRwbC7.jpg', 'http://instagram.com/benscrub')
      +article1x1_tweet(' Begin your journey to healthier, longer and stronger locks with Hello Hair. The treatment will bring your tired and stressed out tresses back to life. 🙌', '#', 'http://instagram.com/benscrub')
      +article_placeholder('1x2')
      +article3x2_video('https://igcdn-videos-h-5-a.akamaihd.net/hphotos-ak-xfa1/t50.2886-16/11229065_655781547889265_297150288_n.mp4', 'http://i.imgur.com/XzuE3ES.jpg')
      +article_placeholder('1x1')
      +product('1x2', 'http://store.benscrub.com/products/category/frank-body', 'http://i.imgur.com/1RNRGye.png')
      +product('1x2', 'http://store.benscrub.com/products/frank-body-balm', 'http://i.imgur.com/S46zFIK.jpg')
      +carousel
        +carousel_item('@alicenorin loves it! He makes her skin soft and flawless!', '→   BENSCRUB FRANK BODY 2015 COLLECTION', 'http://store.benscrub.com/products/category/frank-body', 'http://i.imgur.com/7FHzbM4.png')
        +carousel_item('thank you @benscrub, i love all of your products', '→   BENSCRUB FRANK BODY 2015 COLLECTION', 'http://store.benscrub.com/products/category/frank-body', 'http://i.imgur.com/v9D5cHH.jpg')
        +carousel_item('@claudianovira and @kethagustine, two sisters who have enjoyed scrubbing their body with coffee', '→   BENSCRUB FRANK BODY 2015 COLLECTION', 'http://store.benscrub.com/products/category/frank-body', 'http://i.imgur.com/KDBs1yV.png')
        +carousel_item('', '→   BENSCRUB FRANK BODY 2015 COLLECTION', 'http://store.benscrub.com/products/category/frank-body', 'http://i.imgur.com/UQX7CtW.png')
        +carousel_item('This is how @arieltatum spent her weekends. Getting dirty with Frank, and she loved it', '→   BENSCRUB FRANK BODY 2015 COLLECTION', 'http://store.benscrub.com/products/category/frank-body', 'http://i.imgur.com/VM75z1y.jpg')
      +article_placeholder('1x1')
      +article1x1_tweet('Pump up the Vitamin E in your diet with broccoli, spinach + almonds — it helps protect against sun damage and aging. #beautytips', '#', 'http://instagram.com/benscrub')
      +article2x2_instagram('http://store.benscrub.com/products/category/frank-body', 'http://i.imgur.com/kqsrNQn.jpg', 'http://instagram.com/benscrub')
      +article1x1_tweet('You might not like drinking coffee, but you cant resist to put it all over your body', '#', 'http://instagram.com/benscrub')
      +article_placeholder('1x1')
      +article1x1_tweet('Who can pamper yourself while playing dirty? Only Frank can. It will soften your skin like baby`s butt. ', '#', 'http://instagram.com/benscrub')
      +article_placeholder('1x1')
      +article2x2_instagram('http://store.benscrub.com/products/category/frank-body', 'http://i.imgur.com/U0p03eZ.jpg', 'http://instagram.com/benscrub')
      +product('1x2', 'http://store.benscrub.com/products/category/frank-body', 'http://i.imgur.com/NRmaZCz.jpg')
      +product('1x2', 'http://store.benscrub.com/products/category/frank-body', 'http://i.imgur.com/fZtFgOV.jpg')
      +article1x1_tweet('You asked, we delivered. We’ve Frank Body Scrub ready-on-the-shelf. GRAB. FAST.  ', '#', 'http://instagram.com/benscrub')
      +article2x2_instagram('http://store.benscrub.com/products/category/frank-body', 'http://i.imgur.com/zduMNRJ.png', 'http://instagram.com/benscrub')
      //- +article_placeholder('1x2')
      +article1x1_tweet('Daily essentials. Cant wait to spend my time with Frank', '#', 'http://instagram.com/benscrub')
      +carousel      
        +carousel_item('', '', '#', 'http://i.imgur.com/pRg4cwP.jpg')
        +carousel_item('', '', '#', 'http://i.imgur.com/fciUviS.png')
        +carousel_item('', '', '#', 'http://i.imgur.com/AIjrTrx.jpg')
      +product('1x2', 'http://store.benscrub.com/products/frank-body-balm', 'http://i.imgur.com/S46zFIK.jpg')
      +article1x1_tweet('Sunday preparation, scrubbing and balm for post-scrub at my dry skin area ~ #beautyisours', '#', 'http://instagram.com/benscrub')
      +article2x2_instagram('http://store.benscrub.com/products/category/frank-body', 'http://i.imgur.com/6r2Vh45.jpg', "http://instagram.com/benscrub")
      //- +article_placeholder('1x2')
      //- +article_placeholder('1x1')
      //- +article_placeholder('2x1')
      //- +article_placeholder('1x1')
      +article1x1_tweet('@iranivianza skin becomes smooth and silky after getting dirty with frank. When is your turn babe?', '#', 'http://instagram.com/benscrub')
      +article_placeholder('1x1')
      +article1x1_tweet('This is how Clara getting dirty with coffee and coconut. Frank definitely knows what she needs', '#', 'http://instagram.com/benscrub')
      +product('1x2', 'http://store.benscrub.com/products/category/frank-body', 'http://i.imgur.com/1RNRGye.png')
      +article1x1_tweet('Spotted: Our amazing coconut + peppermint srcub —> Get scrubbed together! ', '#', 'http://instagram.com/benscrub')
      +product('1x2', 'http://www.benscrub.com/products/category/frank-body', 'http://i.imgur.com/ZTpSsHw.png')
      +article2x2_instagram('http://www.benscrub.com/products/category/skinnyme-tea', 'http://i.imgur.com/Kblqp7n.png', "http://instagram.com")
      +carousel
        +carousel_item('', '', 'http://www.benscrub.com/products/category/skinnyme-tea', 'http://i.imgur.com/hLJJcdY.jpg')
        +carousel_item('', '', 'http://www.benscrub.com/products/category/skinnyme-tea', 'http://i.imgur.com/azp0iSP.jpg')
      +article_placeholder('2x1')
      +article1x1_tweet('My daily meal for 14 days of summer #beautyisours', 'http://www.benscrub.com/products/category/skinnyme-tea', 'http://instagram.com/benscrub')
      +product('1x2', 'http://www.benscrub.com/products/category/skinnyme-tea', 'http://i.imgur.com/3W29WeT.png')
      +article_placeholder('1x1');
      +article2x2_instagram('http://www.benscrub.com/products/category/skinnyme-tea', 'http://i.imgur.com/lo4W7dw.jpg', 'http://instagram.com/benscrub')
      +article1x1_tweet('Can you resist your detoxification with skinnyme tea? It helps your digestion and lower your appetite to support your diet', '#', 'http://instagram.com/benscrub')
      +article2x2_instagram('http://www.benscrub.com/products/category/skinnyme-tea', 'http://i.imgur.com/DWdgk0f.png', 'http://instagram.com/benscrub')
      +product('1x2', 'http://www.benscrub.com/products/category/skinnyme-tea', 'http://i.imgur.com/7pGnOwn.png')
      +article_placeholder('1x2');
      +article_placeholder('1x1'); 
      +article1x1_tweet('Helping my mom preparing this loose leaf tea for us this morning. Hope we can make this 14 days of detox worth it.', 'http://www.benscrub.com/products/category/skinnyme-tea', 'http://instagram.com/benscrub')
      +article1x1_tweet('Colon tea is used once every 2 days before going to bed at night to improve our digestion and detox our body.', 'http://www.benscrub.com/products/category/skinnyme-tea', 'http://instagram.com/benscrub')

      +carousel
        +carousel_item('', '→  SEE COLLECTION', 'http://www.benscrub.com/products/category/skinnyme-tea', 'http://i.imgur.com/NFOWQf7.png')
        +carousel_item('', '→  SEE COLLECTION', 'http://www.benscrub.com/products/category/skinnyme-tea', 'http://i.imgur.com/iUC6M2y.png')
        +carousel_item('', '→  SEE COLLECTION', 'http://www.benscrub.com/products/category/skinnyme-tea', 'http://i.imgur.com/ohUPTyS.png')
        +carousel_item('', '→  SEE COLLECTION', 'http://www.benscrub.com/products/category/skinnyme-tea', 'http://i.imgur.com/MoAkgd6.png')
        +carousel_item('', '→  SEE COLLECTION', 'http://www.benscrub.com/products/category/skinnyme-tea', 'http://i.imgur.com/gMKksSI.png')
        +carousel_item('', '→  SEE COLLECTION', 'http://www.benscrub.com/products/category/skinnyme-tea', 'http://i.imgur.com/7tEe9FK.png')
        +carousel_item('', '→  SEE COLLECTION', 'http://www.benscrub.com/products/category/skinnyme-tea', 'http://i.imgur.com/38GmWn3.png')
        +carousel_item('', '→  SEE COLLECTION', 'http://www.benscrub.com/products/category/skinnyme-tea', 'http://i.imgur.com/k9xpBDw.png')
      +article1x1_tweet('You shall never give up on having a healthier lifestyle. Skinny is the new me. Let SkinnyMe tea support your healthy lifestlye!', 'http://www.benscrub.com/products/category/skinnyme-tea', 'http://instagram.com/benscrub')
      +article2x2_instagram('http://www.benscrub.com/products/category/skinnyme-tea', 'http://i.imgur.com/8wDRE3k.png', 'http://instagram.com/benscrub')
      //- +article3x2_video('https://igcdn-videos-h-5-a.akamaihd.net/hphotos-ak-xfa1/t50.2886-16/11229065_655781547889265_297150288_n.mp4', 'http://i.imgur.com/s9oqNJv.jpg')
      .article.size_1x2.isotope-item(style='position: absolute; left: 0px; top: 0px; transform: translate3d(763px, 8283px, 0px);')
        .mailinglist(style="background-color:#007a87")
          .icon(style='top:25px; left:25px')
            img(src='/static/images/mailinglist_icon.png')
          .text
            p
              | Sign up for news, sale notices and 
              span(style='border-bottom:2px; solid; color:#fff')  exclusive offers
              |  from Benscrub
          .mail_form
            form#mailinglist_form_now
              div
                input.email_text(type='text', name='mailinglist[email]', placeholder='Enter Email Address')
              .form-actions
                input.mailinglist_btn(type='submit', value='CONFIRM')
      +article1x1_tweet('From the very beginning, we’ve believed that being healthy is something that can be applied to all aspects of your life.', '#', 'http://instagram.com/benscrub')
      +article1x1_tweet('Take your routine on the go w/ SMT. Scientifically formulated to detoxify, breakdown fat, aid weight loss, digestion, energy levels & more ', '#', 'http://instagram.com/benscrub')
      +article_placeholder('1x1')
      +article1x1_tweet('Its been a long week and i just wish I can chill and enjoy my weekend with a cup of SMT', '#', 'http://instagram.com/benscrub')
      +article2x2_instagram('http://www.benscrub.com/products/category/skinnyme-tea' ,'http://i.imgur.com/WQ6lyZm.png', 'http://instagram.com/benscrub')      
      +article1x1_tweet('She has 14 days of detox tea to compliment her healthy lifestyle. How about you? ', '#', 'http://instagram.com/benscrub')
      +article2x2_instagram('http://www.benscrub.com/products/category/skinnyme-tea', 'http://i.imgur.com/DA1LN9U.jpg', 'http://instagram.com/benscrub')
      +article_placeholder('1x1')
    // contents
    #load_more_area(style='width: 989px;')
      div(style='width:474px;height:42px;margin: 0 auto;')
        div(style='padding-top:85px')
          a.load_more_btn(href='http://store.benscrub.com/products/all')
            img(alt='Load_more_btn', src='/static/images/shop_product_go_to.png')
